<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="project.Properties.Settings.UsersConnectionString"
            connectionString="server=localhost;User Id=root;password=1234;Persist Security Info=True;database=project"
            providerName="MySql.Data.MySqlClient" />
    </connectionStrings>
</configuration>